
.about-container{
  position: relative;
  padding: 1rem 0px;
  padding-top: 3rem;
  background-color: #E6E6E6;
  min-height: 350px;
}

.about-title {
  color: $colorBlue;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  margin-left: 2rem;
}


.about-info {
  color: black;
  font-weight: 400;
  font-size: 1rem;
  &-title {
    margin-left: 2rem;
    font-weight: 500;
  }

  &-item {
    margin-bottom: 0.5rem;
  }
}

.about-qrcode {
  text-align: center;
  margin-bottom: 40px;
}

.about-qrcode-link {
  text-align: center;
}

.about-logo-m {
  height: 200px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}



@media screen and (min-width: $sizeMD) { 
  .about-info {
    font-size: 1rem;
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("~/assets/images/logo_v.png");
  }

  .about-qrcode {
    text-align: right;
    margin-bottom: 0px;
  }

  .about-qrcode-link {
    text-align: right;
    margin-right: 39px;
  }
}