.specification-container {
  padding: 6rem 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("~/assets/images/muice_spec_m.jpg");
  min-height: 100vh;
}

.specification-title{
  display: flex;
  justify-content: center;
  img{
    margin-bottom: 20px;
    height: 40px;
  }
}

.specification-table-br {
  background-color: rgba($color: #FFFFFF, $alpha: 0.6);
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: 300;
}

.specification-table{
  th {
    color: $colorBlue;
  }
  
  thead {
    border-bottom: $colorBlue solid 1px;
  }
}

.specification-accordion {

  .card{
    border: 0;
    background-color: transparent;
    margin-bottom: 2rem;
  }

  .card-header{
    width: 90%;
    margin: 0 auto;
    background-color: rgba($color: #FFFFFF, $alpha: 0.6);
    margin-bottom: 10px;
    padding: 0.5rem 1.25rem;
    border: 0;
  }
  .card-body{
    padding: 0.5rem 1.25rem;
  }

  .col-4 {
    padding-left: 0;
    text-align: right;
    margin-bottom: 10px;
  }
  .col-8 {
    padding: 0;
    margin-bottom: 10px;
  }
  &-btn {
    width: 100%;
    text-align: center;
    color: $colorBlue;
  }

  &-content {
    font-size: 0.9rem;
  }
}



@media screen and (min-width: $sizeSM) {

  .specification-title{
    img{
      margin-bottom: 40px;
      height: 60px;
    }
  }
}

@media screen and (min-width: $sizeMD) {
  .specification-container {
    padding: 8rem 0px;
    background-image: url("~/assets/images/muice_spec.jpg");
  }
}

@media screen and (min-width: $sizeLG) {

}