<section id="about">
  <div class="about-container container-lg">
    <div class="row">
      <div class="col-12 col-md-4 about-qrcode">
        <div><img class="about-qrcode-img" src="~/assets/images/qr_code_line.jpg"></div>
        <div class="about-qrcode-link"><a href="https://lin.ee/XGiLCO" target="_blank"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36" border="0"></a></div>
      </div>
      <div class="col-12 col-md-8 ">
        <div class="container about-info">
            <div class="row">
              <div class="col about-title">關於我們</div>
            </div>
            <div class="row about-info-item">
              <div class="col-12 col-md-2 about-info-title">公司名稱</div>
              <div class="col about-text">星岑國際有限公司</div>
            </div>
            <div class="row about-info-item">
              <div class="col-12 col-md-2 about-info-title">地址</div>
              <div class="col about-text">臺北市文山區景福街153號</div>
            </div>
            <div class="row about-info-item">
              <div class="col-12 col-md-2 about-info-title">電話</div>
              <div class="col about-text">(+886)0920-329880</div>
            </div>
            <div class="row about-info-item">
              <div class="col-12 col-md-2 about-info-title">Email</div>
              <div class="col about-text"><a href="mailto:uvcliquidnitrogen@gmail.com">uvcliquidnitrogen@gmail.com</a></div>
            </div>
        </div>
      </div>
      <div class="col text-center show-under-XS">
        <div><img src="~/assets/images/logo_v.png" class="about-logo-m"></div>
      </div>
    </div>
  </div>
  <a href="https://lin.ee/XGiLCO" target="_blank"><img class="line-icon-mobile" src="~/assets/images/LINE_SOCIAL_Circle.png" alt="加入好友" ></a>
</section>