<section id="application">
    <div class="application-container container-lg">
      <div class="row">
        <div class="col-12"><img class="application-img hide-SM" src="~/assets/images/muice_application.jpg" alt="醫療級液態氮"></div>
        <div class="col-12"><img class="application-img show-under-XS" src="~/assets/images/muice_application_m.jpg" alt="醫療級液態氮"></div>
      </div>
    </div>
    <div class="application-title-mobile" id="applicationTitleMobile">
      <img src="~/assets/images/Muice_LN_01.png" alt="">
    </div>
  </section>