<section id="certification">
  <div class="certification-container">
    <div class="container">
      <div class="row">
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_01.jpg" target="_blank"><img src="~/assets/images/certi_01.jpg" alt="沐冰 Mu Ice Certification"></a></div>
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_02.jpg" target="_blank"><img src="~/assets/images/certi_02.jpg" alt="沐冰 Mu Ice Certification"></a></div>
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_03.jpg" target="_blank"><img src="~/assets/images/certi_03.jpg" alt="沐冰 Mu Ice Certification"></a></div>
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_04.jpg" target="_blank"><img src="~/assets/images/certi_04.jpg" alt="沐冰 Mu Ice Certification"></a></div>
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_05.jpg" target="_blank"><img src="~/assets/images/certi_05.jpg" alt="沐冰 Mu Ice Certification"></a></div>
        <div class="col-6 col-sm-4"><a href="~/assets/images/certi_06.jpg" target="_blank"><img src="~/assets/images/certi_06.jpg" alt="沐冰 Mu Ice Certification"></a></div>
      </div>
    </div>
  </div>
</section>