<section id="specification">
  <div class="specification-container container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="specification-title">
          <img src="~/assets/images/Muice_LN_01.png" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 hide-SM">
        <div class="specification-table-br">
          <table class="table table-borderless specification-table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">UVC 滅菌液態氮 食品用</th>
                <th scope="col">UVC 滅菌液態氮 醫療用</th>
                <th scope="col">UVC 滅菌液態氮 實驗室用</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>型號</td>
                <td>CryoN2-F</td>
                <td>CryoN2-M</td>
                <td>CryoN2-L</td>
              </tr>
              <tr>
                <td>內容物</td>
                <td>液氮(Nitrogen,Liquid)</td>
                <td>液氮(Nitrogen,Liquid)</td>
                <td>液氮(Nitrogen,Liquid)</td>
              </tr>
              <tr>
                <td>容量</td>
                <td>8L</td>
                <td>4L</td>
                <td>20L</td>
              </tr>
              <tr>
                <td>直徑Ø</td>
                <td>15.2cm</td>
                <td>15.2cm</td>
                <td>15.2cm</td>
              </tr>
              <tr>
                <td>高度H</td>
                <td>27cm</td>
                <td>27cm</td>
                <td>27cm</td>
              </tr>
              <tr>
                <td>波長</td>
                <td>265~275nm</td>
                <td>265~275nm</td>
                <td>265~275nm</td>
              </tr>
              <tr>
                <td>UV dose(K)</td>
                <td>30000 μWs/cm2</td>
                <td>66000 μWs/cm2</td>
                <td>40000 μWs/cm2</td>
              </tr>
              <tr>
                <td>UV intensity(I)</td>
                <td>733 μW/cm2</td>
                <td>733 μW/cm2</td>
                <td>733 μW/cm2</td>
              </tr>
              <tr>
                <td>產地</td>
                <td>台灣</td>
                <td>台灣</td>
                <td>台灣</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 show-under-XS">
        <div class="accordion specification-accordion" id="specificationAccordion">
          <div class="card">
            <div class="card-header" id="CryoN2-F">
              <div class="specification-accordion-btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                UVC 滅菌液態氮 食品用
              </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="CryoN2-F" data-parent="#specificationAccordion">
              <div class="card-body">
                <div class="container specification-accordion-content">
                  <div class="row">
                    <div class="col-4">型號</div><div class="col-8">CryoN2-F</div>
                    <div class="col-4">內容物</div><div class="col-8">液氮(Nitrogen,Liquid)</div>
                    <div class="col-4">容量</div><div class="col-8">8L</div>
                    <div class="col-4">直徑Ø</div><div class="col-8">15.2cm</div>
                    <div class="col-4">高度H</div><div class="col-8">27cm</div>
                    <div class="col-4">波長</div><div class="col-8">265~275nm</div>
                    <div class="col-4">UV dose(K)</div><div class="col-8">30000 μWs/cm2</div>
                    <div class="col-4">UV intensity(I)</div><div class="col-8">733 μW/cm2</div>
                    <div class="col-4">產地</div><div class="col-8">台灣</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="CryoN2-M">
              <div class="specification-accordion-btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                UVC 滅菌液態氮 醫療用
              </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="CryoN2-M" data-parent="#specificationAccordion">
              <div class="card-body">
                <div class="container specification-accordion-content">
                  <div class="row">
                    <div class="col-4">型號</div><div class="col-8">CryoN2-M</div>
                    <div class="col-4">內容物</div><div class="col-8">液氮(Nitrogen,Liquid)</div>
                    <div class="col-4">容量</div><div class="col-8">4L</div>
                    <div class="col-4">直徑Ø</div><div class="col-8">15.2cm</div>
                    <div class="col-4">高度H</div><div class="col-8">27cm</div>
                    <div class="col-4">波長</div><div class="col-8">265~275nm</div>
                    <div class="col-4">UV dose(K)</div><div class="col-8">66000 μWs/cm2</div>
                    <div class="col-4">UV intensity(I)</div><div class="col-8">733 μW/cm2</div>
                    <div class="col-4">產地</div><div class="col-8">台灣</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="CryoN2-L">
              <div class="specification-accordion-btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                UVC 滅菌液態氮 實驗室用
              </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="CryoN2-L" data-parent="#specificationAccordion">
              <div class="card-body">
                <div class="container specification-accordion-content">
                  <div class="row">
                    <div class="col-4">型號</div><div class="col-8">CryoN2-L</div>
                    <div class="col-4">內容物</div><div class="col-8">液氮(Nitrogen,Liquid)</div>
                    <div class="col-4">容量</div><div class="col-8">20L</div>
                    <div class="col-4">直徑Ø</div><div class="col-8">15.2cm</div>
                    <div class="col-4">高度H</div><div class="col-8">27cm</div>
                    <div class="col-4">波長</div><div class="col-8">265~275nm</div>
                    <div class="col-4">UV dose(K)</div><div class="col-8">40000 μWs/cm2</div>
                    <div class="col-4">UV intensity(I)</div><div class="col-8">733 μW/cm2</div>
                    <div class="col-4">產地</div><div class="col-8">台灣</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>